:root{
    --heading-color: #eac30f;
    --shadow-color: #ffff08;
    --card-radius: 3px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fjalla One", sans-serif;
}

::-webkit-scrollbar {
    width: 9px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(48, 48, 48); 
    border-radius: 9px;
}
   
::-webkit-scrollbar-thumb {
    background: var(--heading-color); 
    border-radius: 9px;
}
  
.main-container {
    background-image: url(../images/home-page-screen-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

header {
    width: 755px;
}

.van-container {
    background-image: url(../images/Van-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
}

.heading {
    color: var(--heading-color);
    padding: 0.75rem;
}

.card{
    box-shadow: 0 0px 3px 0px var(--shadow-color);
    border-radius: var(--card-radius) !important;
    width: 160px;
    height: 205px !important;
}

.card:hover{
    box-shadow: 0 0px 8px 0px var(--shadow-color);
    background-color: #1a1818;
}

.card-container {
    width: 1150px;
}

.card-row{
    margin-left: 25.5rem !important;
    margin-top: 0.9rem !important;
}

.cardImage {
    width: 154px;
    margin-bottom: 2px;
    height: 145px;
}

.card-heading {
    text-decoration: none;
    color: var(--heading-color);
}

.img-width-control {
    margin-left: 2px;
}

.logo-div {
     margin-left: 1.5rem;
     margin-top: 3rem;
}

.mobile-device-container {
    display: none;
}

.main-container .contact-mobile-container {
    display: none;
}

.main-container .van-container {
    display: block;
}

@media only screen and (min-width: 1441px){ 
    .card-container {
        width: 100%;
    }

    header {
        width: 1100px;
    }

    .logo-div {
        margin-top: 5rem;
        margin-left: 0.5rem;
    }
    
    .logo-div img{
        width: 175px;
    }

    .logo-info {
        margin-left: 65px;
    }

    .logo-heading {
        font-size: 65px !important;
    }

    .logo-paraGraph {
        font-size: 25px;
    }

    .card {
        width: 290px;
        height: 350px !important;
    }

    .card-row{
        margin-top: 2rem !important;
    }

    .card-row {
        margin-left: 62.6rem !important;
        margin-right: 16rem !important;
    }

    .img-width-control {
        margin-left: 4px;
    }

    .cardImage {
        width: 279px;
        height: 229px;
    }

    .heading {
        color: var(--heading-color);
        font-size: 35px;
        padding: 2rem !important;
    }
}     

@media only screen and (min-width: 1024px) and (max-width: 1440px) { 
    .card-container {
        width: 1040px;
    }

    .card-row {
        margin-left: 22.6rem !important;
        margin-top: 1.4rem !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) { 
    .card-container {
        width: 920px;
    }

    nav {
        margin-left: 5rem;
    }

    .logo-div {
        margin-left: 2.5rem;
        margin-top: 3.5rem;
    }
    
    .logo-div img{
        width: 85px;
    }

    .card {
        width: 138px;
        height: 165px !important;
    }

    .card-row{
        margin-left: 322px!important;
        margin-top: 0.6rem !important;
    }

    .cardImage {
        width: 134px;
        height: 106px;
    }

    header {
        width: 775px;
    }

    .heading {
        margin-left: 20px;
    }
    
}

@media only screen and (min-width: 600px) and (max-width: 768px) { 
    .card-container {
        width: 685px;
    }

    nav {
        margin-left: 5rem;
    }

    .logo-div {
        margin-left: 5rem;
        margin-top: 7rem;
    }
    
    .logo-div img{
        width: 65px;
    }

    .card {
        width: 100px;
        height: 125px !important;
    }

    .card-row{
        margin-left: 236px!important;
        margin-top: 0.7rem !important;
    }

    .cardImage {
        width: 94px;
        height: 81px;
    }

    .heading {
        font-size: 14px;
        padding: 0.5rem;
        margin-left: 0px;
    }

    .logo-heading {
        font-size: 22px;
    }

    .logo-paraGraph {
        font-size: 14px;
    }

    .logo-info {
        margin-right: 28px;
        padding: 0;
    }
}  

@media only screen and (max-width: 600px) {
    .main-container .van-container {
        display: none;
    }

    .main-container .contact-mobile-container {
        display: block;
    }

    .mobile-device-container {
        display: block;
    }

    .main-container {
        background-image: url(../images/home-paage-mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100%;
    }    

    .van-mobile-container {
        background-image: url(../images/Van-mobile-img.png); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 480px;
        padding-top: 2.5rem;
    }

    .sidebarIcon {
        background-color: var(--heading-color);
        padding: 0.5rem;
        height: 30px;
        border-radius: 6px;
    }

    .menuIcon-line {
        width: 20px;
        height: 2px;
        background-color: #1a1818;
        margin-bottom: 4px;
    }

    .logo-div {
        margin-top: 0rem;
        margin-left: 0.1rem;
    }

    .logo-heading {
        font-size: 20px;
    }

    .logo-paraGraph {
        font-size: 11px;
    }

    .logo-div img{
        width: 50px;
    }

    header {
        width: 100%;
    }

    .heading {
        padding: 0px!important;
        text-align: center;
    }

    .card img {
        width: 72px;
        height: 50px;
    }

    .card {
        box-shadow: 0 0px 2px 0px var(--shadow-color);
        border-radius: var(--card-radius) !important;
        width: 90px;
        height: 72px !important;
        background-color: black !important;
    }

    .card-container {
        width: 214px;
    }

    .mob-card-heading {
        color: var(--heading-color);
        font-size: 11px;
        margin: 0;
        text-align: center;
        padding: 1px;
    }

    .main-mobile-container {
        padding-top: 3rem;
    }
}
